<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExampleCustomAIMLTags.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExampleCustomAIMLTags.Properties.Settings>
            <setting name="ExampleCustomAIMLTags_com_fullerdata_www_FullerData_x0020_Fortune_x0020_Cookie"
                serializeAs="String">
                <value>http://www.fullerdata.com/FortuneCookie/FortuneCookie.asmx</value>
            </setting>
        </ExampleCustomAIMLTags.Properties.Settings>
    </applicationSettings>
</configuration>